!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="#")= title
					.nav-collapse
						ul.nav
							li.active
								a(href="#create") Create
							li
								a(href="#view") View
							li
								a(href="#balances") Balances
							li
								a(href="#transfers") Transfers
		.container
			.hero-unit
				h1 Welcome to Pebbles!
				p This is a website helps you manage expenses with multiple people, calculates their net balances and suggests the minimum number of transfers that would be required to clear balances.
				p
					a.btn.btn-primary.btn-large(href="#create") Get started >>	
			block content
	include scripts