!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="#")= title
					.nav-collapse
						ul.nav
							li.active
								a(href="#create") Create
							li
								a(href="#view") View
							li
								a(href="#balances") Balances
							li
								a(href="#transfers") Transfers
		.container
			.hero-unit
				h1 Welcome to Pebbles!
				p This is a website helps you manage expenses with multiple people, calculates their net balances and suggests the minimum number of transfers that would be required to clear balances.
				p
					a.btn.btn-primary.btn-large(href="#create") Get started >>	
			block content
		//
			MODULES
		script(src='js/modules/pbShareValueType.js', type='text/javascript')
		script(src='js/modules/pbShareRatioType.js', type='text/javascript')
		script(src='js/modules/pbTransaction.js', type='text/javascript')
		script(src='js/modules/pbWorker.js', type='text/javascript')
		script(src='js/modules/pbTransferCalculator.js', type='text/javascript')
		script(src='js/modules/pbCombinationBuilder.js', type='text/javascript')
		script(src='js/modules/pbTransfers.js', type='text/javascript')
		script(src='js/modules/pbArray.js', type='text/javascript')
		script(src='js/modules/pbBalanceCalculator.js', type='text/javascript')
		script(src='js/modules/pbParser.js', type='text/javascript')
		script(src='js/modules/pbExceptions.js', type='text/javascript')
		script(src='js/modules/pbAlerts.js', type='text/javascript')
		//
			VIEWMODELS
		script(src='js/viewmodels/newTransactionView.js', type='text/javascript')
		script(src='js/viewmodels/transactionListView.js', type='text/javascript')
		script(src='js/viewmodels/transfersView.js', type='text/javascript')
		script(src='js/viewmodels/balancesView.js', type='text/javascript')
		
		//
			LIBRARY
		script(src='js/lib/jquery-1.9.1.min.js', type='text/javascript')
		script(src='js/lib/knockout-2.2.1.js', type='text/javascript')
		script(src='js/lib/bootstrap.min.js', type='text/javascript')
		//
			script(src='js/lib/bootstrap-alert.js', type='text/javascript')
		//	
			LAST LOADED 
		
		script(src='js/pbSite.js', type='text/javascript')