div#view.transactionList
			.page-header
				h1 View
				table.table-striped(class='table')
					thead
						tr
							th Tag
							th Amount
							th Payers
							th Payees
							th Remarks
					tbody(data-bind='foreach:transactions')
						tr
							td(data-bind='text:tag')
							td(data-bind='text:amount')
							td(data-bind='text:payers.toString()')
							td(data-bind='text:payees.toString()')
							td(data-bind='text:remarks')