#balanceView.modal.hide.fade
	.modal-header
		button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
		h3 Balances
	.modal-body
		div(data-bind='foreach:rows')
			.row-fluid(data-bind='foreach:$data')
				.span4
					div
						h3(data-bind='text:tag') 
					div(data-bind='foreach:items')
						span
							span(data-bind='text:user')
							span :
							span(data-bind='text:amount')
							span $ 
					div
						button.btn.btn-info View transfers >>
