div#view.transactionList(data-bind='visible:isVisible')
			
				.btn-toolbar.pull-right
					.btn-group
						a.btn(href='transactions/create')
							i.icon-plus
						a.disabled.btn(href='#')
							i.icon-edit
						a.disabled.btn(href='#')
							i.icon-trash
						a.btn(href='#') Balances
				table.table-striped(class='table')
					thead
						tr
							th Tag
							th Amount
							th Payers
							th Payees
							th Remarks
					tbody(data-bind='foreach:transactions')
						tr
							td(data-bind='text:tag')
							td(data-bind='text:amount')
							td(data-bind='text:payers.toString()')
							td(data-bind='text:payees.toString()')
							td(data-bind='text:remarks')