extends master
block content
	.sub-title
		|Create
	.commandBox
		.command
			| tag :
			span.info-text group transactions by tags for eg: home, work, friends, office-party etc.
			input(type='text', data-bind='value:tag')
		.command
			| amount :
			span.info-text Specify the total amount for the transaction for eg: 600
			input(type='text', data-bind='value:amount')
		.command
			| payers :
			span.info-text Specify how the total amount is distributed amongst the users for eg:
				ol
					li split in exact amount: a = 100, b = 200, c = 300
					li split in ratios: a, b * 2, c * 3
			textarea(rows='2', data-bind='value:payers')
		.command
			| payees : 
			textarea(rows='2', data-bind='value:payees')
		.command
			| remarks :
			span.info-text Add some information about the transaction for eg: drinks
			input(type='text', data-bind='value:remarks')
		.command
			input.main-button(type='button', value='Add', data-bind='click : addButton')
	.sub-title
		|Transactions
	.transactionList
		ol(data-bind='foreach:transactions')
			li.data-block(data-bind='click:$root.onclick')
				div
					span tag: 
					span.data-item(data-bind='text:tag')
				div
					span amount: 
					span.data-item(data-bind='text:amount')
				div
					span payers: 
					span.data-item(data-bind='text:payers.toString()')
				div
					span payees: 
					span.data-item(data-bind='text:payees.toString()')
				div
					span remarks: 
					span.data-item(data-bind='text:remarks')
	.sub-title
		|Balances
	.balanceList
		ol(data-bind='foreach:balances')
			li.data-block 			
				span(data-bind='text:user')
				|   
				span.data-item(data-bind='text:amount')

	.sub-title
		|Transfers
	.transfersList
		ol(data-bind='foreach:transfers')
			li.data-block 			
				span.data-item(data-bind='text:from')
				|  owes 
				span.data-item(data-bind='text:amount')
				|  to 
				span.data-item(data-bind='text:to')
				