extends master
block content
	div
		.commandBox
			div.command
				| tag :
				span.info-text group transactions by tags for eg: home, work, friends, office-party etc.
				input(type='text', data-bind='value:tag')
			div.command
				| amount :
				span.info-text Specify the total amount for the transaction for eg: 600
				input(type='text', data-bind='value:amount')
			div.command
				| payers :
				span.info-text Specify how the total amount is distributed amongst the users for eg:
					ol
						li split in exact amount: a = 100, b = 200, c = 300
						li split in ratios: a, b * 2, c * 3
				textarea(rows='2', data-bind='value:payers')
			div.command
				| payees : 
				textarea(rows='2', data-bind='value:payees')
			div.command
				| remarks :
				span.info-text Add some information about the transaction for eg: drinks
				input(type='text', data-bind='value:remarks')
			div.command
				input.main-button(type='button', value='Add', data-bind='click : addButton')
		.footer
			a(href="/#") Sharify vs others
			a(href="mailto:tusharmath@gmail.com") Email developer