extends layout
block content
	.jumbotron(data-bind='visible:isVisible')
		h1 Super awesome expense calculator!
		p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		p
			button.btn.btn-large.btn-success(data-bind='click:onGetStartedClick' ) Get started
	include partialViews/createTransaction
	include partialViews/viewTransactions
	include partialViews/balances
	include partialViews/transfersList
