!!!
html
	head
		title= title
		link(rel='stylesheet', href='site.min.css')
	body
		.container-narrow
			div.header
				ul.nav.nav-pills.pull-right
					li
						a(href='Home') Home
					li
						a(href='Balances') Balances	
					li
						a(href='Transactions') Transactions
				h2.muted Pebbles
			hr
			
			block content
	include scripts