!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/site.min.css')
	body
		.container-narrow
			div.header
				ul.nav.nav-pills.pull-right
					li(data-bind='click:onclick')
						a(href='#Home') Home	
					li(data-bind='click:onclick')
						a(href='#Transactions') Transactions
				h2.muted Pebbles
			hr
			
			block content
	include scripts