//
	MODULES
script(src='dev/pbShareValueType.js', type='text/javascript')
script(src='dev/pbShareRatioType.js', type='text/javascript')
script(src='dev/pbTransaction.js', type='text/javascript')
script(src='dev/pbWorker.js', type='text/javascript')
script(src='dev/pbTransferCalculator.js', type='text/javascript')
script(src='dev/pbCombinationBuilder.js', type='text/javascript')
script(src='dev/pbTransfers.js', type='text/javascript')
script(src='dev/pbArray.js', type='text/javascript')
script(src='dev/pbBalanceCalculator.js', type='text/javascript')
script(src='dev/pbParser.js', type='text/javascript')
script(src='dev/pbExceptions.js', type='text/javascript')
script(src='dev/pbAlerts.js', type='text/javascript')
script(src='dev/pbViewManager.js', type='text/javascript')
//
	VIEWMODELS
script(src='dev/newTransactionView.js', type='text/javascript')
script(src='dev/transactionListView.js', type='text/javascript')
script(src='dev/transfersView.js', type='text/javascript')
script(src='dev/balancesView.js', type='text/javascript')
script(src='dev/navigationView.js', type='text/javascript')

//
	LIBRARY
script(src='dev/jquery-1.9.1.min.js', type='text/javascript')
script(src='dev/knockout-2.2.1.js', type='text/javascript')
script(src='dev/bootstrap.min.js', type='text/javascript')
//
	script(src='js/lib/bootstrap-alert.js', type='text/javascript')
//	
	LAST LOADED 

script(src='dev/pbSite.js', type='text/javascript')