//
	MODULES
script(src='modules/pbShareValueType.js', type='text/javascript')
script(src='modules/pbShareRatioType.js', type='text/javascript')
script(src='modules/pbTransaction.js', type='text/javascript')
script(src='modules/pbWorker.js', type='text/javascript')
script(src='modules/pbTransferCalculator.js', type='text/javascript')
script(src='modules/pbCombinationBuilder.js', type='text/javascript')
script(src='modules/pbTransfers.js', type='text/javascript')
script(src='modules/pbArray.js', type='text/javascript')
script(src='modules/pbBalanceCalculator.js', type='text/javascript')
script(src='modules/pbParser.js', type='text/javascript')
script(src='modules/pbExceptions.js', type='text/javascript')
script(src='modules/pbAlerts.js', type='text/javascript')
script(src='modules/pbViewManager.js', type='text/javascript')
//
	VIEWMODELS
script(src='viewmodels/newTransactionView.js', type='text/javascript')
script(src='viewmodels/transactionListView.js', type='text/javascript')
script(src='viewmodels/transfersView.js', type='text/javascript')
script(src='viewmodels/balancesView.js', type='text/javascript')
script(src='viewmodels/navigationView.js', type='text/javascript')
script(src='viewmodels/startPageView.js', type='text/javascript')

//
	LIBRARY
script(src='lib/jquery-1.9.1.min.js', type='text/javascript')
script(src='lib/knockout-2.2.1.js', type='text/javascript')
script(src='lib/bootstrap.min.js', type='text/javascript')
//
	script(src='js/lib/bootstrap-alert.js', type='text/javascript')
//	
	LAST LOADED 

script(src='pbSite.js', type='text/javascript')