body
{
	font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size:14px
}

input[type=text]:focus,textarea:focus
{
	outline:none
}

.commandbox input[type=text],.commandbox textarea
{
	font-size:14px;
	width:100%;
	border:2px solid #c58383;
	border-radius:4px;
	padding:4px 10px;
	color:#8e5aac;
	font-weight:700
}

.commandbox
{
	max-width:784px;
	min-width:300px;
	margin:0 auto
}

.commandbox .command
{
	margin:12px 0;
	width:400px;
	display:inline-block
}

.info-text
{
	color:#b3b1b1;
	font-size:12px;
	margin:8px 4px
}

.main-button
{
	background-color:#6d68d6;
	color:#e5e2fc;
	padding:8px 32px;
	border-radius:4px;
	border:2px solid #3f21b9;
	float:right;
	margin:0
}

.main-button:active
{
	background-color:#5a56b6
}

.footer
{
	text-align:center
}

.footer a
{
	font-size:12px;
	margin:12px
}
