body
{
	font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif
}

input:focus,textarea:focus
{
	outline:none
}

.commandbox input
{
	font-size:14px;
	border-width:8px;
	width:100%;
	border:8px solid #c58383;
	border-radius:8px;
	padding:4px 10px;
	color:#8e5aac;
	font-weight:700
}

.commandbox
{
	width:784px;
	margin:0 auto
}

.sampleText
{
	color:#b3b1b1;
	font-size:12px;
	margin:8px 4px
}

.commandbox .main
{
	margin-left:50px
}
